{% extends "ToDoBox/base.html" %}

{% block content %}

  <div id="container" style="width: 75%;">
    <canvas id="activities-chart" data-url="{% url 'activities-chart' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $activitiesChart = $("#activities-chart");
      $.ajax({
        url: $activitiesChart.data("url"),
        success: function (data) {

          var ctx = $activitiesChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Liczba wykonanych aktywności',
                backgroundColor: 'red',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Wykres aktywnosci ostatniego tygodnia'
              }
            }
          });

        }
      });

    });

  </script>

{% endblock %}

