{% extends "base.html" %}

{% block content %}
<h1> Lista dzisiejszych aktywnosci </h1>
<form action="/todo/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Dodaj czynność">
</form>

<ol>
    {% for item in all_todo_objects_today %}
    <li>
        {{item.text}}
        <form action="delete/{{item.id}}" method="post">
            {% csrf_token %}
            <input type="submit" value="Usuń">
        </form>
    </li>
    {% endfor %}
</ol>
<a href="{% url 'display' %}"> Wykonane czynnosci </a>
<p> Podstawowe statystyki z ostatniego tygodnia (srednia, maksimum z jednego dnia oraz suma): </p>
<ol>
    {% for statistic in stats %}
    <li>
        {{statistic}}
    </li>
    {% endfor %}
</ol>
{% endblock %}